<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LawHouse.UnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LawHouse.UnitTest.Properties.Settings.ConnString"
            connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=goodboysplus1v2;Persist Security Info=True;User ID=goodboysplus1v2;Password=Kr995B7kts!_"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <LawHouse.UnitTest.Properties.Settings>
            <setting name="DefaultGui" serializeAs="String">
                <value />
            </setting>
        </LawHouse.UnitTest.Properties.Settings>
    </applicationSettings>
</configuration>