<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LawHouse.DataAccess.Properties.Settings.ConnString"
            connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=goodboysplus1v2;Persist Security Info=True;User ID=goodboysplus1v2;Password=Kr995B7kts!_"
            providerName="" />
    </connectionStrings>
</configuration>